<html lang="en">
<head>
    <meta charset="UTF-8">	
	<link rel="stylesheet" href="../static/style.css">
    <title>MarketMan</title>
</head>
	<body>
		<h1>Market Management</h1>
		<p></p>
            <table class="card-table" id="marketDepthTable">
                <thead class="card-table">
                <tr>
                <th width="15%">Qty</th>
                <th width="35%">Bid (₹)</th>
                <th width="35%">Ask (₹)</th>
                <th width="15%">Qty</th>
                </tr>
                </thead>
                <tbody  class="card-table">
                    <tr class="card-table"><td width="20%">{{ data[1][0] }}</td>
                        <td width="30%">{{ data[1][1] }}</td>
                        <td width="30%">{{ data[1][2] }}</td>
                        <td width="20%">{{ data[1][3] }}</td></tr>
                    <tr class="card-table"><td width="20%">{{ data[2][0] }}</td>
                        <td width="30%">{{ data[2][1] }}</td>
                        <td width="30%">{{ data[2][2] }}</td>
                        <td width="20%">{{ data[2][3] }}</td></tr>
                    <tr class="card-table"><td width="20%">{{ data[3][0] }}</td>
                        <td width="30%">{{ data[3][1] }}</td>
                        <td width="30%">{{ data[3][2] }}</td>
                        <td width="20%">{{ data[3][3] }}</td></tr>
                    <tr class="card-table"><td width="20%">{{ data[4][0] }}</td>
                        <td width="30%">{{ data[4][1] }}</td>
                        <td width="30%">{{ data[4][2] }}</td>
                        <td width="20%">{{ data[4][3] }}</td></tr>
                    <tr class="card-table"><td width="20%">{{ data[5][0] }}</td>
                        <td width="30%">{{ data[5][1] }}</td>
                        <td width="30%">{{ data[5][2] }}</td>
                        <td width="20%">{{ data[5][3] }}</td></tr>
                    </tbody>
                </table>
					
	<br>
	<br>

	</body>
</html>
